/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

/* LOCAL FONT */
@FONT-FACE {
    font-family: 'sq-l';
    src: url("../../essential/font/NanumSquareL.woff") format('woff');
}
@FONT-FACE {
    font-family: 'sq-r';
    src: url("../../essential/font/NanumSquareR.woff") format('woff');
}
@FONT-FACE {
    font-family: 'sq-b';
    src: url("../../essential/font/NanumSquareB.woff") format('woff');
}
@FONT-FACE {
    font-family: 'sq-eb';
    src: url("../../essential/font/NanumSquareEB.woff") format('woff');
}

/* COMMON STYLE */

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 0;
    font-family: 'sq-r';
}
.main {
    min-height: 1000px;
}
.wd-1140 {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

/* 4줄 이상 생략 */
.ellipsis-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* 3줄 이상 생략 */
.ellipsis-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* 2줄 이상 생략 */
.ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 1줄 이상 생략 */
.ellipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


/* wis-banner Start */
.wis-banner {
    padding-top: 40px;
}
.wis-banner-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wis-banner-item {
    overflow: hidden;
    border-radius: 10px;
    width: 370px;
    height: 130px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}
.wis-banner-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* wis-banner End */


/* button design Start */
.blue-btn {
    display: inline-block;
    border: none;
    background-color: #0a5aa5;
    padding: 0 40px;
    height: 50px;
    font-size: 16px;
    font-family: 'sq-r';
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
/* button design End */