/* TOP */
.top {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #d7ddea;
}

.top-menu {
    height: 40px;
    display: flex;
    /* 양끝 정렬 */
    justify-content: space-between;
    /* 세로 정렬 */
    align-items: center;
}

.sns-item {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.sns-item01 {
    background: url("../../../../public/static/common/sns-icon01.png") no-repeat center center;
}
.sns-item02 {
    background: url("../../../../public/static/common/sns-icon02.png") no-repeat center center;
}
.sns-item03 {
    background: url("../../../../public/static/common/sns-icon03.png") no-repeat center center;
}

.top-menu-item {
    font-size: 14px;
    display: inline-block;
    color: #777;
    margin-left: 20px;
    line-height: 22px;
}


/* Main Header */
#header {
    position: relative;
}
.header-contents {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-date {
    vertical-align: middle;
    font-size: 16px;
    color: #777;
    margin-right: 10px;
}
.header-weather {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../../../../public/static/main/weather01.png") no-repeat center center;

}

.main-logo a {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 170px;
    height: 50px;
    vertical-align: middle;
    background: url("../../../../public/static/main/main-logo.png") no-repeat center center;
}

.member-box {
    display: flex;
    align-items: center;
}
.no-login {
    font-size: 16px;
    color: #022f43;
}
.no-login-text:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.member-icon {
    margin-left: 10px;
    width: 37px;
    height: 37px;
    border-radius: 100%;
    border: 1px solid #d0d0d0;
    overflow: hidden;
    background: url("../../../../public/static/common/user-default.png") no-repeat center center;
    cursor: pointer;
}

/* Search */
.gnb {
    position: relative;
    padding-top: 60px;
    border-bottom: solid 3px #294f67;
}

.depth-01-item {
    display: inline-block;
    padding: 15px 15px;
    cursor: pointer;
}
.depth-01-item a {
    font-size: 0;
}
.depth-01-item-icon {
    vertical-align: middle;
}
.depth-01-item-text {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 16px;
}

.search-bar {
    position: absolute;
    bottom: 10px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.search-bar input {
    text-indent: 10px;
    width: 180px;
    height: 35px;
    border: 1px solid #022f43;
    border-radius: 5px;
    background: #fff;
    opacity: 0;
    font-size: 12px;
    transition: opacity 1s;
}
.search-bar:hover input{
    opacity: 1;
}
#search-bar-input:focus {
    opacity: 1;
}
.search-bar button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 0;
    width: 20px;
    height: 20px;
    border: none;
    background: url("../../../../public/static/common/gnb_search_icon.png") no-repeat center center;
    cursor: pointer;
}